{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}Transcoding Experiments{% endblock %}

{% block body_container_header %}
    <style type="text/css">
        #main {
            padding: 20px;
        }
    </style>
{% endblock %}

{% block body_container_main %}
    <div id="main">
        Select test file: <br />
        <a href="/app_dev.php/loadFile/bbb30.mp4">Big Buck Bunny</a> <br />
        <br />
        <br />
        Or enter file path: <br />
        <input type="text" id="filepath" /> <button id="loadfile">Load</button>
    </div>
{% endblock %}

{% block body_container_footer %}
{% endblock %}

{% block body_js %}
	{% javascripts '@ABTranscodingExperimentsBundle/Resources/public/js/jquery-1.11.0.min.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
	
	<script type="text/javascript">
		$(document).ready( function(){
            $("#loadfile").on( "click", function() {
                window.location = "/app_dev.php/loadFile/"+ encodeURIComponent( $('#filepath').val() );
            });
        });
	</script>
{% endblock %}